@charset "utf-8";
/*------------------------------------------------------------
	デフォルトスタイル
------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	background: transparent;
	border: 0;
	outline: 0;

	font-size: 1em;
}

body {
	font-size: 62.5%;
}

body,
table,
input, textarea, select, option {
	font-family: 'Noto Serif JP', serif;
    font-style: normal;
    font-weight: normal;
}

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

img {
	vertical-align: top;
}

a {
  text-decoration: none;
  opacity: 1;
  color: #000;
  transition: opacity .6s ease,color .6s ease;
}

a img {
  opacity: 1;
  transition: opacity .6s ease;
}


a:hover {
	color: #999;
}

a:hover img {
  opacity: .7;
}

/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
	min-width: 1099px;
	color: #000;
	font-size: 13px;
	line-height: 1.5;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	background-color: #FFF;
  font-family: 'Noto Serif JP', serif;
  font-style: normal;
  font-weight: normal;
  overflow-y: scroll;
}

.viewport {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ipad .viewport {
  overflow: auto;
  position: static;
  height: auto;
}

.scroll-container {
  position: absolute;
  overflow: hidden;
  z-index: 10;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#container {
	text-align: left;
}

#main {

}

@font-face {
  font-family:"Perpetua Regular";
  src:url("/fonts/perpetuaRegular.eot?#iefix");
  src:url("/fonts/perpetuaRegular.eot?#iefix") format("eot"),url("/fonts/perpetuaRegular.woff2") format("woff2"),url("/fonts/perpetuaRegular.woff") format("woff"),url("/fonts/perpetuaRegular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family:"Perpetua Bold";
  src:url("/fonts/perpetuaBold.eot?#iefix");
  src:url("/fonts/perpetuaBold.eot?#iefix") format("eot"),url("/fonts/perpetuaBold.woff2") format("woff2"),url("/fonts/perpetuaBold.woff") format("woff"),url("/fonts/perpetuaBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family:"Perpetua Light";
  src:url("/fonts/perpetuaLight.eot?#iefix");
  src:url("/fonts/perpetuaLight.eot?#iefix") format("eot"),url("/fonts/perpetuaLight.woff2") format("woff2"),url("/fonts/perpetuaLight.woff") format("woff"),url("/fonts/perpetuaLight.ttf") format("truetype");
  font-display: swap;
}

a[href^="tel:"] {
	cursor: default;
	pointer-events: none;
}

.-notoSerif {
  font-family: 'Noto Serif JP', serif;
  font-style: normal;
  font-weight: normal;
}

.-notoSans {
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.-roboto {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.-perpetuaRe {
  font-family: 'Perpetua Regular';
  font-style: normal;
  font-weight: normal;
}

.-perpetuaBo {
  font-family: 'Perpetua Bold';
  font-style: normal;
  font-weight: normal;
}

.-perpetuaLi {
  font-family: 'Perpetua Light';
  font-style: normal;
  font-weight: normal;
}

.sp {
	display: none !important;
}

@media all and (min-width: 0) and (max-width: 767px) {
	body {
		min-width: inherit;
	}

	a:hover {
    color: #000;
  }

	a:hover img {
		opacity: 1;
	}

	.sp {
		display: block !important;
	}

	.pc {
		display: none !important;
	}

	a[href^="tel:"] {
		cursor: pointer;
		pointer-events: auto;
	}

  .viewport {
    overflow: auto;
    position: static;
    height: auto;
  }
}

/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
#gHeader {
	position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 11;
}

#gHeader::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease,visibility .5s ease,background .5s ease;
}

h1 {
  position: relative;
  width: 35px;
  margin: 0 auto;
  padding-top: 28px;
  transition: padding .5s ease;
}

h1 a {
  display: block;
}

h1 a img {
  width: 100%;
}

.menuBtn {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 13px;
  left: 15px;
  transition: top .5s ease;
}

.menuBtn span {
  display: block;
  width: 30px;
  height: 1px;
  background: #000;
  position: absolute;
  left: 15px;
  transition: width .6s ease;
}

.menuBtn span:nth-child(1) {
  top: 20px;
}

.menuBtn span:nth-child(2) {
  top: 28px;
}

.menuBtn span:nth-child(3) {
  top: 37px;
  width: 20px;
}

.menuBtn:hover span:nth-child(3) {
  width: 30px;
}

.headerW .logoB,
.logoW {
  display: none;
}

.headerW .logoW {
  display: block;
}

.scrollHeader #gHeader {
  position: fixed;
}

.scrollHeader .headerW .logoW {
  display: none;
}

.scrollHeader .headerW .logoB {
  display: block;
}

.scrollHeader h1 {
  padding-top: 17px;
  padding-bottom: 17px;
}

.headerW .menuBtn span {
  background: #fff;
}

.scrollHeader .headerW .menuBtn span {
  background: #000;
}

.scrollHeader .menuBtn {
  top: 1px;
}

.scrollHeader #gHeader::before {
  background: rgba(255,255,255,.8);
  opacity: 1;
  visibility: visible;
}

@media all and (min-width: 0) and (max-width: 767px) {
  .scrollHeader h1 {
    padding-bottom: 27px;
  }
}

/*------------------------------------------------------------
	gNavi
------------------------------------------------------------*/
#gNavi {
  min-width: 1099px;
  position: fixed;
  left: 0;
  top: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  background: rgba(255,255,255,.95);
  width: 100%;
  -webkit-transition: height 1s cubic-bezier(.6,0,.25,1) 1s,visibility 1s cubic-bezier(.6,0,.25,1),opacity 1s cubic-bezier(.6,0,.25,1);
  transition: height 1s cubic-bezier(.6,0,.25,1) 1s,visibility 1s cubic-bezier(.6,0,.25,1),opacity 1s cubic-bezier(.6,0,.25,1);
}

.navScroll {
  height: 100%;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .5s ease,visibility .5s ease;
  transition: opacity .5s ease,visibility .5s ease;
}

.openMenu .navScroll {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 1s cubic-bezier(.6,0,.25,1),visibility 1s cubic-bezier(.6,0,.25,1);
  transition: opacity 1s cubic-bezier(.6,0,.25,1),visibility 1s cubic-bezier(.6,0,.25,1);
  transition-delay: .2s;
}

.openMenu {
  overflow: hidden;
}

.openMenu #gNavi {
  height: 100vh;
  visibility: visible;
  z-index: 5;
  opacity: 1;
  -webkit-transition: height 1s cubic-bezier(.6,0,.25,1),visibility 1s cubic-bezier(.6,0,.25,1);
  transition: height 1s cubic-bezier(.6,0,.25,1),visibility 1s cubic-bezier(.6,0,.25,1);
}

.naviList {
  margin: 80px 90px 6px 90px;
  display: flex;
  flex-wrap: wrap;
}

.naviList li {
  flex: 0 0 20.6%;
  margin-right: 5.86%;
  margin-bottom: 36px;
}

.naviList li:nth-child(4n) {
  margin-right: 0;
}

.naviList li  a {
  display: block;
}

.naviList .navPic {
  margin-bottom: 8px;
  position: relative;
}

.naviList .navPic:after {
  content: '';
  position: absolute;
  top: 0;
  right: -1px;
  width: 101%;
  height: 100%;
  background: #fff;
  transition: width 1.4s cubic-bezier(.26,0,.07,1) 1s;
}

.openMenu .naviList .navPic:after {
  width: 0;
  transition-delay: .4s;
}

.naviList .navPic img {
  width: 100%;
}

.naviList .navText {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.naviList .navText span {
  font-size: 13px;
  font-style: italic;
  display: inline-block;
  vertical-align: middle;
  margin-left: 14px;
  letter-spacing: .8px;
}

.closeBtn {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 12px;
  left: 15px;
  z-index: 6;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .5s ease,visibility .5s ease;
  transition: opacity .5s ease,visibility .5s ease;
}

.openMenu .closeBtn {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 1s cubic-bezier(.5,0,.25,1),visibility 1s cubic-bezier(.5,0,.25,1);
  transition: opacity 1s cubic-bezier(.5,0,.25,1),visibility 1s cubic-bezier(.5,0,.25,1);
}

.openMenu .closeBtn:hover {
  opacity: .5;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.closeBtn span {
  display: block;
  width: 30px;
  height: 1px;
  background: #000;
  position: absolute;
  left: 50%;
}

.closeBtn span:nth-child(1) {
  top: 30px;
  transform: translateX(-50%) rotate(-45deg);
}

.closeBtn span:nth-child(2) {
  top: 30px;
  transform: translateX(-50%) rotate(45deg);
}

.navLink {
  margin: 0 90px;
  padding-top: 44px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-top: 1px solid rgba(0,0,0,.3);
}

.linkBlank,
.linkShare {
  font-size: 0;
}

.linkBlank li {
  display: inline-block;
  margin-right: 72px;
}

.linkBlank li a {
  display: block;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.6px;
}

.basicIcon {
  display: inline-block;
  width: 12px;
  height: auto;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-left: 8px;
  opacity: .4;
}

.basicIcon img,
.linkLogo img,
.linkShare img {
  width: 100%;
  display: block;
}

.linkLogo {
  display: inline-block;
  width: 35px;
  height: auto;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-right: 8px;
}

.linkShare li {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

.linkShare li a {
  display: block;
}

.linkShare .iconIns {
  width: 19px;
}

.linkShare .iconTw {
  width: 18px;
}

.linkShare .iconFb {
  width: 10px;
}

@media all and (min-width: 0) and (max-width: 767px) {
  .openMenu .closeBtn:hover {
    opacity: 1;
  }

  h1 {
    width: 31px;
    padding-top: 20px;
  }

  #gNavi {
    min-width: 0;
  }

  .menuBtn {
    top: 1px;
    left: 10px;
  }

  .menuBtn span {
    left: 50%;
    transform: translateX(-50%);
  }

  .menuBtn span:nth-child(3) {
    margin-left: -5px;
  }

  .menuBtn:hover span:nth-child(3) {
    width: 20px;
  }

  .naviList {
    margin: 65px 28px 11px 28px;
  }

  .naviList li {
    flex: 0 0 45.6%;
    margin-right: 8.8%;
    margin-bottom: 24px;
  }

  .naviList li:nth-child(2n) {
    margin-right: 0;
  }

  .naviList .navPic {
    margin-bottom: 10px;
  }

  .naviList .navText {
    font-size: 14px;
  }

  .naviList .navText span {
    font-size: 11px;
    display: block;
    margin-left: 0;
  }

  .navLink {
    margin: 0 28px;
    padding-top: 34px;
    padding-bottom: 50px;
    display: block;
  }

  .linkBlank {
    margin-bottom: 22px;
  }

  .linkBlank li {
    display: block;
    margin-right: 0;
    margin-bottom: 24px;
  }

  .linkBlank li a {
    display: inline-block;
    font-size: 14px;
    white-space: nowrap;
  }

  .linkLogo {
    width: 28px;
  }

}

/*------------------------------------------------------------
	パンクズリスト
------------------------------------------------------------*/
#pagePath {

}

#pagePath li {
	display: inline;
	color: #000;
	font-size: 1.2em;
}

#pagePath li a {
}

@media all and (min-width: 0) and (max-width: 767px) {
}

/*------------------------------------------------------------
	conts
------------------------------------------------------------*/
#conts {

}

@media all and (min-width: 0) and (max-width: 767px) {
}

/*------------------------------------------------------------
	sideBar
------------------------------------------------------------*/
#sideBar {

}

@media all and (min-width: 0) and (max-width: 767px) {
}

/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/
#gFooter {
  position: relative;
  padding-bottom: 50px;
}

#gFooter.fadeInAnim {
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
}

#gFooter.fadeInAnim.visible {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.footer {
  position: relative;
}

.footerLogo {
  width: 44px;
  margin: 0 auto 60px;
}

.footerLogo a,
.footerLogo img {
  width: 100%;
  display: block;
}

#gFooter .linkBlank {
  float: left;
  margin-left: 38px;
  margin-top: -2px;
}

#gFooter .linkBlank li {
  margin-right: 32px;
}

#gFooter .linkBlank li a {
  font-size: 12px;
  font-weight: 500;
}

#gFooter .linkLogo {
  display: none;
}

#gFooter .basicIcon {
  margin-left: 6px;
  top: -2px;
  width: 13px;
}

#gFooter .linkShare {
  float: right;
  margin-right: 92px;
}

.iconReturn {
  position: absolute;
  right: 39px;
  width: 29px;
}

.iconReturn img {
  width: 100%;
}

.copy {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  letter-spacing: .9px;
}

@media all and (min-width: 0) and (max-width: 767px) {
  #gFooter {
    padding-bottom: 46px;
  }

  #gFooter .linkBlank {
    float: none;
    margin: 0 auto 27px;
    text-align: center;
  }

  #gFooter .linkBlank li {
    display: inline-block;
    margin-bottom: 0;
  }

  #gFooter .linkBlank li a {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.3px;
  }

  #gFooter .linkBlank li:last-child {
    margin-right: 0;
  }

  #gFooter .linkShare {
    float: none;
    margin-right: 0;
    text-align: center;
    margin-bottom: 45px;
  }

  #gFooter .linkShare li:last-child {
    margin-right: 0;
  }

  .iconReturn {
    position: static;
    width: 29px;
    display: block;
    margin: 0 auto 18px;
  }

  .copy {
    position: static;
    transform: translateX(0);
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
  }

  .footerLogo {
    width: 40px;
    margin: 0 auto 45px;
  }
}

/*------------------------------------------------------------
    Slick-Slider
------------------------------------------------------------*/
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/*------------------------------------------------------------
    Page Fade
------------------------------------------------------------*/
#cover {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: opacity .8s ease,visibility .8s ease;
}

.hideCover #cover {
    opacity: 0;
    visibility: hidden;
}

/*------------------------------------------------------------
    FadeInAnim
------------------------------------------------------------*/
.fadeInAnim {
    opacity: 0;
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
    -webkit-transition: opacity .8s ease-out, transform 1.2s ease-out .2s;
    transition: opacity .8s ease-out, transform 1.2s ease-out .2s;
}

.fadeInAnim.visible {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

/*------------------------------------------------------------
    書式設定
------------------------------------------------------------*/
/* テキストの位置 */
.taLeft { text-align: left !important; }
.taCenter { text-align: center !important; }
.taRight { text-align: right !important; }

/* フォントの大きさ（プラス） */
.fsP1 { font-size: 1.08em !important; }
.fsP2 { font-size: 1.16em !important; }
.fsP3 { font-size: 1.24em !important; }
.fsP4 { font-size: 1.32em !important; }
.fsP5 { font-size: 1.4em !important; }

/* フォントの大きさ（マイナス） */
.fsM1 { font-size: 0.92em !important; }
.fsM2 { font-size: 0.84em !important; }
.fsM3 { font-size: 0.76em !important; }
.fsM4 { font-size: 0.68em !important; }
.fsM5 { font-size: 0.6em !important; }

/* フォントの太さ */
.fwNormal { font-weight: normal !important; }
.fwBold { font-weight: bold !important; }

/*------------------------------------------------------------
    微調整用クラス（※多用しないこと）
------------------------------------------------------------*/
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }

/*------------------------------------------------------------
    汎用スタイル
------------------------------------------------------------*/
* html .clearfix {
    zoom: 1;
}

*+html .clearfix {
    zoom: 1;
}

.clearfix:after {
    height: 0;
    visibility: hidden;
    content: ".";
    display: block;
    clear: both;
}

.lazy,
.sliderLazy {
  opacity: 0;
  transition: opacity 1s ease;
}

.lazy.fadeIn,
.sliderLazy.fadeIn {
  opacity: 1;
}

/*------------------------------------------------------------
    common
------------------------------------------------------------*/


@media all and (min-width: 0) and (max-width: 767px) {

}