@charset "utf-8";

#gHeader,
.mainVisual .itemText,
.mainVisNews,
.scrollCon,
.smainVisBar {
	opacity: 0;
}

.mainVisualList {
	transform: scale(1.01);
	opacity: 0;
}

.mainVisLogo em {
	opacity: 0;
}

.itemHidden > div {
	position: absolute;
	height: 100%;
	overflow: hidden;
	width: 0;
}

.itemHidden > div:first-child {
	width: 100%;
}

.itemHidden > div > div {
	position: absolute;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	left: -100px;
}

.volLink {
	display: block;
	position: absolute;
	z-index: 20;
	left: 80px;
	top: 80px;
	right: 80px;
	bottom: 80px;
}

/*mainVisual*/
.mainVisual {
	width: 100%;
	height: 100vh;
	padding: 80px;
	box-sizing: border-box;
	position: relative;
}

.mainVisual .item {
	position: relative;
}

.mainVisual .itemText {
	position: absolute;
	right: -80px;
	width: 80px;
	top: 0;
	height: 100%;
}

.mainVisual .itemText p {
	position: absolute;
	left: 0;
	top: 0;
	writing-mode: tb-rl;
	-webkit-writing-mode: vertical-rl;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 15px;
	letter-spacing: 1.2px;
	background: #fff;
	opacity: 0;
	transition: opacity 5s ease;
}

.mainVisual .itemText p.show {
	opacity: 1;
}

.mainVisual .itemText span {
	font-size: 25px;
	letter-spacing: 1.2px;
	display: inline-block;
	margin-bottom: 24px;
}

.mainVisual .item img {
	width: 100%;
} 

.smainVisBar {
	position: absolute;
	left: 80px;
	right: 80px;
	bottom: 80px;
}

.smainVisBar span {
	display: block;
	width: 0;
	background: #fff;
	opacity: .3;
	height: 6px;
}

.mainVisLogo {
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
	top: 50%;
	text-align: center;
	display: none;
}

.mainVisLogo h2 {
	color: #fff;
	margin-bottom: 8px;
	font-size: 0;
}

.mainVisLogo h2 em {
	display: inline-block;
	font-size: 50px;
	font-weight: 100;
	letter-spacing: 4.2px;
	font-style: normal;
}

.mainVisLogo h2 span {
	display: inline-block;
	margin-right: 13px;
	font-size: 0;
}

.mainVisLogo h2 span em {
	font-size: 80px;
	letter-spacing: 6.2px;
}

.mainVisLogo h2 b {
	display: inline-block;
	margin-left: 18px;
	font-size: 0;
}

.mainVisLogo h2 b em {
	font-size: 75px;
	font-weight: 500;
	letter-spacing: 6.2px;
}

.mainVisLogo p {
	color: #fff;
	font-size: 0;
}

.mainVisLogo p em {
	display: inline-block;
	font-style: normal;
	font-size: 17px;
	letter-spacing: 5.2px;
}

@media all and (-ms-high-contrast:none){
	.mainVisLogo {
		display: block;
	}

	.mainVisLogo1 {
		display: none;
	}
}

.mainVisLogo1 {
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
	top: 50%;
	text-align: center;
}

.mainVisLogo1 h2 {
	font-size: 50px;
	font-weight: 100;
	color: #fff;
	letter-spacing: 4.2px;
	margin-bottom: 8px;
	display: flex;
	align-items: baseline;
}

@keyframes animate {
  0% {
    background-position: 300%;
  }
  100% {
   background-position: 0;
  }
}

.mainVisLogo1 h2 span {
	display: inline-block;
	font-size: 80px;
	letter-spacing: 6.2px;
	margin-right: 14px;
}

.mainVisLogo1 h2 b {
	display: inline-block;
	font-size: 75px;
	font-weight: 500;
	margin-left: 3px;
	letter-spacing: 6.5px;
}

.mainVisLogo1 h2 i {
	display: inline-block;
	font-style: normal;
	margin-right: 16px;
}

.mainVisLogo1 p {
	color: #fff;
	font-size: 17px;
	letter-spacing: 5.4px;
}

.mainVisNews {
	position: absolute;
	left: 80px;
	bottom: 34px;
}

.newsTime {
	font-size: 11px;
	font-weight: bold;
	letter-spacing: .4px;
	display: inline-block;
	margin-right: 15px;
}

.newsText {
	font-size: 11px;
	letter-spacing: .5px;
}

.scrollCon {
	position: absolute;
	right: 26px;
	bottom: 0;
	width: 30px;
	height: 68px;
	overflow: hidden;
}

.scrollCon::after {
	content: '';
	width: 1px;
	height: 100%;
	position: absolute;
	left: 50%;
	bottom: 0;
	background: #000;
	transform: translateY(20px);
	transition: transform .6s ease;
}

.scrollCon:hover:after {
	transform: translateY(0);
}

.mainVisualList,
.item {
	height: 100%;
}

.itemHidden {
	height: 100%;
	overflow-y: hidden;
}

.footerLogo {
	display: none;
}

.loaded .mainVisLogo1 h2 span,
.loaded .mainVisLogo1 h2 b,
.loaded .mainVisLogo1 h2 i,
.loaded .mainVisLogo1 p {
	overflow: hidden;
	background: linear-gradient(90deg,#fff 50%, rgba(255,255,255,0));
	background-repeat: no-repeat;
	background-size: 200%;
	animation: animate 1.2s linear;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255, 255, 255, 0);
	animation-fill-mode: forwards;
	background-position: 300%;
}

.loaded .mainVisLogo1 h2 span {
	animation-delay: 0.1s;
	animation-duration: 0.4s;
}

.loaded .mainVisLogo1 h2 i {
	animation-delay: 0.3s;
	animation-duration: .4s;
}

.loaded .mainVisLogo1 h2 b {
	animation-delay: 0.4s;
	animation-duration: 0.7s;
}

.loaded .mainVisLogo1 p {
	animation-delay: .4s;
}

@media all and (min-width: 0) and (max-width: 767px) {
	.mainVisual {
		padding: 60px 38px 60px;
	}

	.mainVisual .itemText {
		right: -38px;
		width: 38px;
	}

	.mainVisual .itemText p {
		font-size: 13px;
		letter-spacing: 1.1px;
	}

	.mainVisual .itemText span {
		font-size: 22px;
		letter-spacing: .7px;
		margin-bottom: 20px;
	}

	.mainVisLogo {
		text-align: left;
	}

	.mainVisLogo h2 {
		margin-bottom: 7px;
		white-space: nowrap;
	}

	.mainVisLogo h2 em {
		font-size: 30px;
		letter-spacing: 1.4px;
	}

	.mainVisLogo h2 span {
		display: block;
		margin-right: 0;
		margin-bottom: -32px;
		margin-left: -7px;
	}

	.mainVisLogo h2 span em {
		font-size: 60px;
		letter-spacing: 2.2px;
	}

	.mainVisLogo h2 b {
		margin-left: 10px;
	}
	
	.mainVisLogo h2 b em {
		font-size: 55px;
		letter-spacing: 3.2px;
	}

	.mainVisLogo p {
		text-align: center;
	}

	.mainVisLogo p em {
		font-size: 15px;
		letter-spacing: 4.1px;
	}

	.mainVisLogo1 {
		text-align: left;
	}

	.mainVisLogo1 h2 {
		font-size: 30px;
		letter-spacing: 1.4px;
		margin-bottom: -4px;
		white-space: nowrap;
		display: block;
	}

	.mainVisLogo1 h2 span {
		display: block;
		font-size: 60px;
		letter-spacing: 2.2px;
		margin-right: 0;
		margin-bottom: -32px;
		margin-left: -7px;
	}

	.mainVisLogo1 h2 i {
		margin-right: -1px;
		position: relative;
		top: -12px;
	}

	.mainVisLogo1 h2 b {
		font-size: 55px;
		margin-left: 8px;
		letter-spacing: 3.2px;
	}

	.mainVisLogo1 p {
		font-size: 15px;
		letter-spacing: 4.1px;
		text-align: center;
	}

	.mainVisNews {
		left: 37px;
		bottom: 21px;
	}

	.scrollCon {
		right: 4px;
		height: 62px;
	}

	.scrollCon:hover::after {
		transform: translateY(20px);
	}

	.smainVisBar {
		left: 38px;
		right: 38px;
		bottom: 60px;
	}

	.smainVisBar span {
		height: 3px;
	}

	.volLink {
		left: 38px;
		top: 60px;
		right: 38px;
		bottom: 60px;
	}
}

/*characterIntro*/
.imgScale {
	overflow: hidden;
}

.imgScale.removeTransition {
	transition: none;
}

.characterIntro {
	display: flex;
	max-width: 992px;
	padding-top: 150px;
	margin: 0 auto 116px;
}

.charImgSmall {
	width: 210px;
	position: relative;
}

.charImgSmall img,
.charIntImg img {
	display: block;
	width: 100%;
}

.charIntImg {
	width: 650px;
	margin-left: 165px;
	margin-top: -160px;
}

.charImgSmall,
.charIntImg {
	transition: opacity .6s ease, transform .8s cubic-bezier(.455,.03,.515,.955);
	transform: scale(0.8);
}

.visible .charImgSmall,
.visible .charIntImg {
	transform: scale(1);
}

.charIntroText {
	writing-mode: tb-rl;
	-webkit-writing-mode: vertical-rl;
	position: relative;
	flex: 1;
	padding-top: 47px;
}

.charTextLeft {
	position: absolute;
	left: 24px;
	font-size: 18px;
	letter-spacing: 3.7px;
}

.charTextRight {
	margin-right: -10px;
}

.charTextName {
	font-size: 28px;
	font-weight: 600;
	letter-spacing: 3.4px;
}

.charTextName span {
	font-size: 14px;
	font-style: italic;
	letter-spacing: .8px;
	margin-top: 13px;
	display: inline-block;
	margin-right: 6px;
}

.charTextInner {
	margin-right: 6px;
	font-size: 12px;
	letter-spacing: .5px;
	line-height: 1.7;
	white-space: nowrap;
}

@media all and (min-width: 0) and (max-width: 767px) {
	.characterIntro {
		display: block;
		padding-top: 76px;
		margin: 0 auto 68px;
	}

	.charIntImg {
		width: auto;
		margin-left: 0;
		margin-top: 0;
	}

	.charIntroText {
		-webkit-writing-mode: rl-tb;
		-webkit-writing-mode: horizontal-tb;
		writing-mode: rl-tb;
		writing-mode: horizontal-tb;
		padding-top: 0;
		margin: 0 22px;
	}

	.charIntImgBox {
		margin-bottom: 28px;
	}

	.charTextLeft {
		position: static;
		font-size: 15px;
		letter-spacing: 3px;
		margin-bottom: 16px;
	}

	.charTextRight {
		margin: 0;
	}

	.charTextName {
		font-size: 20px;
		letter-spacing: 2.3px;
		margin-bottom: 4px;
	}

	.charTextName span {
		font-size: 12px;
		letter-spacing: 1.2px;
		margin-top: 0;
		margin-right: 0;
		margin-left: 13px;
		vertical-align: middle;
		position: relative;
		top: -2px;
	}

	.charTextInner {
		margin-right: 0;
		line-height: 1.6;
		white-space: normal;
	}

}

/*characterList*/
.characterList {
	max-width: 1126px;
	margin: 0 auto 78px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.ipad .characterList {
	margin-left: 25px;
	margin-right: 25px;
}

.charItem {
	width: 490px;
	display: flex;
	align-items: center;
	margin-bottom: 106px;
}

.charItem:nth-child(2n) {
	transition-delay: .5s;
}

.charItem:nth-child(4n-2) a,
.charItem:nth-child(4n-1) a {
	margin-top: 20px;
}

.charItem:nth-child(4n-3) a {
	margin-left: 75px;
}

.charItem:nth-child(4n) a {
	margin-right: 75px;
}

.charItem a {
	display: block;
}

.charItem img {
	width: 100%;
}

.charItem .imgScale img {
	width: 100%;
	position: relative;
}

.charItem .imgScale {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.charItem a:hover .charItemImg {
	opacity: .7;
}

.charItemImg {
	overflow: hidden;
	margin-bottom: 28px;
	position: relative;
	transition: opacity .6s ease, transform .8s cubic-bezier(.455,.03,.515,.955);
	transform: scale(0.8);
}

.visible .charItemImg {
	transform: scale(1);
}

.charName {
	font-size: 23px;
	font-weight: 600;
	letter-spacing: 2px;
	margin-bottom: 6px;
}

.charName span {
	font-size: 14px;
	display: inline-block;
	margin-left: 16px;
	font-style: italic;
	letter-spacing: 1px;
	position: relative;
	top: -2px;
	vertical-align: middle;
}

.charAdderss {
	font-size: 12px;
	line-height: 1.8;
}

.charAdderss span {
	display: block;
}

.btnMore {
	margin-top: -76px;
	text-align: center;
	margin-bottom: 190px;
}

.btnMore a {
	display: inline-block;
	font-size: 19px;
	position: relative;
	box-sizing: border-box;
	padding: 17px 92px;
	letter-spacing: 1.2px;
}

.btnMore a:before {
	content: '';
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 1px;
	background: #000;
	transition: transform .5s ease;
}

.btnMore a:after {
	content: '';
	left: 0;
	bottom: 0;
	position: absolute;
	width: 100%;
	height: 1px;
	background: #000;
	transition: transform .5s ease;
}

.btnMore a:hover {
	color: #000;
}

.btnMore a:hover:before {
	transform: translateY(-7px);
}

.btnMore a:hover:after {
	transform: translateY(7px);
}

@media all and (min-width: 0) and (max-width: 767px) {
	.characterList {
		margin: 0 25px 78px;
		display: block;
	}

	.charItem {
		width: 100%;
		align-items: stretch;
		margin-bottom: 66px;
	}

	.charItem:nth-child(2n) {
		transition-delay: 0;
	}

	.charItem:nth-child(4n-3) a {
		margin-left: 0;
		margin-right: 76px;
	}

	.charItem:nth-child(4n-2) a {
		margin-top: 0;
		margin-left: 30px;
	}

	.charItem:nth-child(4n-1) a {
		margin-right: 30px;
		margin-left: 0;
		margin-top: 0;
	}

	.charItem:nth-child(4n) a {
		margin-right: 0;
		margin-left: 76px;
	}

	.charItemImg {
		margin-bottom: 20px;
	}

	.charName {
		font-size: 18px;
		letter-spacing: 1.5px;
	}

	.charName span {
		font-size: 13px;
		margin-left: 14px;
		letter-spacing: .7px;
		line-height: 1;
		top: -1px;
	}

	.charAdderss {
		line-height: 1.6;
	}

	.btnMore {
		margin-top: -10px;
		margin-bottom: 108px;
	}
	
	.btnMore a {
		font-size: 16px;
		padding: 14px 62px;
	}

	.btnMore a:hover::after {
		transform: translateY(0);
	}

	.btnMore a:hover::before {
		transform: translateY(0);
	}

	.charItem a:hover .charItemImg {
		opacity: 1;
	}

}

/*aboutInner*/
.aboutInner {
	margin-bottom: 168px;
}

.aboutListBox {
	overflow: hidden;
	margin-bottom: 59px;
}

.aboutList {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.aboutList img {
	width: 100%;
}

.aboutList li {
	display: none;
}

.aboutList li.on {
	display: block;
}

.aboutTextWrap {
	display: flex;
	justify-content: center;
}

.aboutText {
	display: block;
	writing-mode: tb-rl;
	-webkit-writing-mode: vertical-rl;
}

.aboutTexTit {
	font-size: 36px;
	letter-spacing: 3.7px;
	margin-left: 34px;
}

.aboutTexInn {
	font-size: 14px;
	letter-spacing: 2.6px;
	line-height: 2.43;
}

.aboutListBox {
	position: relative;
}

.aboutListBox > span {
	display: block;
}

.aboutListBox img {
	width: 100%;
}

@media all and (min-width: 0) and (max-width: 767px) {
	.aboutListBox {
		margin-bottom: 48px;
	}

	.aboutInner {
		margin-bottom: 105px;
	}

	.aboutTexTit {
		font-size: 28px;
		letter-spacing: 2.8px;
		margin-left: 15px;
	}

	.aboutTexInn {
		font-size: 12px;
		letter-spacing: 1.8px;
		line-height: 2.18;
	}

	.itemHidden > div > div {
		left: -50px;
	}
}

@media all and (min-width: 0) and (max-width: 320px) {
	.mainVisLogo1,
	.mainVisLogo {
		transform: translate(-50%,-50%) scale(.9);
	}
}